

      

       body{
        background-color:#fff;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        
       }

       

       .card{

        width: 70%;
        
        border: none;
        border-radius: 15px;
        padding: 8px;
        background-color: #fff;
        position: relative;
        height: 10vh;
       }

       .upper{

        height: 100px;

       }

       

       .upper img{

        width: 50%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

       }

       .user{
        position: relative;
       }

       .profile img{

        
        height: 80px;
        width: 80px;
        margin-top:2px;

       
       }

       .profile{

        position: absolute;
        
        height: 90px;
        width: 90px;
        border:3px solid #fff;

        border-radius: 50%;

       }

       .follow{

        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        height: 35px;
        
       }

       .stats span{

        font-size: 29px;
       }
      